.ControlPanel {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.HiddenLayerInput {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}